In [2]:
import pandas as pd

In [3]:
credit_data = pd.read_csv('credit_customers.csv')

In [4]:
credit_data.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [5]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB

In [6]:
credit_data['checking_status'].value_counts()

no checking    394
<0             274
0<=X<200       269
>=200           63
Name: checking_status, dtype: int64

In [7]:
credit_data['duration'].value_counts()

24.0    184
12.0    179
18.0    113
36.0     83
6.0      75
15.0     64
9.0      49
48.0     48
30.0     40
21.0     30
10.0     28
27.0     13
60.0     13
42.0     11
11.0      9
20.0      8
8.0       7
4.0       6
7.0       5
39.0      5
45.0      5
13.0      4
14.0      4
28.0      3
33.0      3
22.0      2
54.0      2
16.0      2
47.0      1
72.0      1
40.0      1
5.0       1
26.0      1
Name: duration, dtype: int64

In [8]:
credit_data['credit_history'].value_counts()

existing paid                     530
critical/other existing credit    293
delayed previously                 88
all paid                           49
no credits/all paid                40
Name: credit_history, dtype: int64

In [9]:
credit_data['purpose'].value_counts()

radio/tv               280
new car                234
furniture/equipment    181
used car               103
business                97
education               50
repairs                 22
other                   12
domestic appliance      12
retraining               9
Name: purpose, dtype: int64

In [10]:
credit_data['credit_amount'].value_counts()

1275.0     3
1262.0     3
1393.0     3
1478.0     3
1258.0     3
          ..
2238.0     1
1391.0     1
7476.0     1
4933.0     1
11054.0    1
Name: credit_amount, Length: 921, dtype: int64

In [11]:
credit_data['savings_status'].value_counts()

<100                603
no known savings    183
100<=X<500          103
500<=X<1000          63
>=1000               48
Name: savings_status, dtype: int64

In [12]:
credit_data['employment'].value_counts()

1<=X<4        339
>=7           253
4<=X<7        174
<1            172
unemployed     62
Name: employment, dtype: int64

In [13]:
credit_data['installment_commitment'].value_counts()

4.0    476
2.0    231
3.0    157
1.0    136
Name: installment_commitment, dtype: int64

In [14]:
credit_data['personal_status'].value_counts()

male single           548
female div/dep/mar    310
male mar/wid           92
male div/sep           50
Name: personal_status, dtype: int64

In [15]:
credit_data['other_parties'].value_counts()

none            907
guarantor        52
co applicant     41
Name: other_parties, dtype: int64

In [16]:
credit_data['residence_since'].value_counts()

4.0    413
2.0    308
3.0    149
1.0    130
Name: residence_since, dtype: int64

In [17]:
credit_data['property_magnitude'].value_counts()

car                  332
real estate          282
life insurance       232
no known property    154
Name: property_magnitude, dtype: int64

In [18]:
credit_data['age'].value_counts()

27.0    51
26.0    50
23.0    48
24.0    44
28.0    43
25.0    41
30.0    40
35.0    40
36.0    39
31.0    38
29.0    37
32.0    34
33.0    33
34.0    32
37.0    29
22.0    27
40.0    25
38.0    24
42.0    22
39.0    21
46.0    18
41.0    17
43.0    17
44.0    17
47.0    17
45.0    15
21.0    14
49.0    14
20.0    14
50.0    12
48.0    12
54.0    10
57.0     9
52.0     9
63.0     8
51.0     8
55.0     8
53.0     7
61.0     7
60.0     6
66.0     5
58.0     5
65.0     5
64.0     5
74.0     4
59.0     3
68.0     3
56.0     3
67.0     3
75.0     2
19.0     2
62.0     2
70.0     1
Name: age, dtype: int64

In [19]:
credit_data['other_payment_plans'].value_counts()

none      814
bank      139
stores     47
Name: other_payment_plans, dtype: int64

In [20]:
credit_data['housing'].value_counts()

own         713
rent        179
for free    108
Name: housing, dtype: int64

In [21]:
credit_data['existing_credits'].value_counts()

1.0    633
2.0    333
3.0     28
4.0      6
Name: existing_credits, dtype: int64

In [22]:
credit_data['job'].value_counts()

skilled                      630
unskilled resident           200
high qualif/self emp/mgmt    148
unemp/unskilled non res       22
Name: job, dtype: int64

In [23]:
credit_data['num_dependents'].value_counts()

1.0    845
2.0    155
Name: num_dependents, dtype: int64

In [24]:
credit_data['own_telephone'].value_counts()

none    596
yes     404
Name: own_telephone, dtype: int64

In [25]:
credit_data['foreign_worker'].value_counts()

yes    963
no      37
Name: foreign_worker, dtype: int64

In [26]:
credit_data['class'].value_counts()

good    700
bad     300
Name: class, dtype: int64

In [27]:
duplicate = credit_data[credit_data.duplicated()]

In [28]:
print("Duplicated Rows :")
duplicate

Duplicated Rows :

Empty DataFrame
Columns: [checking_status, duration, credit_history, purpose, credit_amount, savings_status, employment, installment_commitment, personal_status, other_parties, residence_since, property_magnitude, age, other_payment_plans, housing, existing_credits, job, num_dependents, own_telephone, foreign_worker, class]
Index: []

[0 rows x 21 columns]

In [29]:
credit_data.head(10)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
5,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,male single,none,...,no known property,35.0,none,for free,1.0,unskilled resident,2.0,yes,yes,good
6,no checking,24.0,existing paid,furniture/equipment,2835.0,500<=X<1000,>=7,3.0,male single,none,...,life insurance,53.0,none,own,1.0,skilled,1.0,none,yes,good
7,0<=X<200,36.0,existing paid,used car,6948.0,<100,1<=X<4,2.0,male single,none,...,car,35.0,none,rent,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
8,no checking,12.0,existing paid,radio/tv,3059.0,>=1000,4<=X<7,2.0,male div/sep,none,...,real estate,61.0,none,own,1.0,unskilled resident,1.0,none,yes,good
9,0<=X<200,30.0,critical/other existing credit,new car,5234.0,<100,unemployed,4.0,male mar/wid,none,...,car,28.0,none,own,2.0,high qualif/self emp/mgmt,1.0,none,yes,bad

In [30]:
missing_data = credit_data.isnull().any().any()

In [31]:
missing_data

False

In [32]:
credit_data['class'].value_counts()

good    700
bad     300
Name: class, dtype: int64